
@{
    ViewBag.Title = "Error";
    ViewBag.Header = "Error Encountered.";
    ViewBag.PageDescription = "This is embarrasing, but the application has an error.";
    Layout = "~/Views/Shared/_SiteMasterLayout.cshtml";
}

<p>A system error has been detected. A notification has been sent to the development team.</p>

