@{
    ViewBag.Title = "Not logged in";
    ViewBag.PageDescription = "Please Log in";
    Layout = "~/Views/Shared/_SiteMasterLayout.cshtml";
}

<h2>Please @Html.ActionLink("login", "Login") to continue.</h2>
