
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoCookieSet</title>
</head>
<body>
    <div> 
        <p>No Cookie has been set.</p>
    </div>
</body>
</html>
