@model BirthdayCard.Models.BirthdayCard

@{
    ViewBag.Title = "My Birthday Message!";
    ViewBag.Header = "Birthday Card Sent";
}

<!DOCTYPE html>

<h2>To @Model.To,</h2>
<p>@Model.Message</p>
<h3>From  @Model.From</h3>


