
@{
    ViewBag.Title = "Main Page";
    ViewBag.Header = "Welcome";
}

<!DOCTYPE html>

<html>
    <body>
        <p>Create A Birthday Message For Your Family/Friend</p>

        <div class="main-page-actionlink">
            @Html.ActionLink("Create A Birthday Card", "BirthdayCard")
        </div>
    </body>
</html>
