@import url(normalize.css);
html {
  font: normal normal 16px/1.2 Helvetica, sans-serif; }

h2 {
  font: 600 normal 1.2rem Quicksand, sans-serif;
  color: #111;
  padding: .5rem 0; }

p {
  color: #111; }

header {
  border-bottom: 0.06rem dashed blue;
  margin-bottom: 1rem; }

body {
  background-color: #ffff96;
  position: relative;
  line-height: 1.5;
  margin: 0 auto; }

footer {
  margin-top: 1rem;
  text-align: center;
  border-top: 0.06rem dashed blue;
  padding-top: 1rem; }

.learning-menu {
  position: absolute;
  right: 5%; }

.learning-center-links {
  font: normal normal 24px/1.5 Arial, san-serif; }

.field-validation-error {
  color: #f00; }

.field-validation-valid {
  display: none; }

.input-validation-error {
  border: 1px solid #f00;
  background-color: #fee; }

.validation-summary-errors {
  font-weight: bold;
  color: #f00; }

