@model LearningCenter.Models.ClassViewModel
@{
    ViewBag.Title = "Enroll in class";
    ViewBag.PageDescription = "Enroll In Class";
    Layout = "~/Views/Shared/_SiteMasterLayout.cshtml";
}

<!DOCTYPE html>
@if (Model.Classes.Length > 0)
{
    <div class="enroll-in-class">
        @Html.DropDownListFor(e => e.Classes,
       new SelectList(Model.Classes, "Id", "Name", "Description"), "Select Class",
       new { @class = "form-control classes-dropdown-size", maxlength = 30 })
      

        <input type="submit" class="btn btn-primary" value="Add Class" onclick="location.href='@Url.Action("EnrollUserInClass", "Home", new { userId = 2, classId = 3 }, null)'"/>
    </div>
}
else
{
    <h2>No Class data found.</h2>
}

