@model LearningCenter.Models.ClassModel

@{
    ViewBag.Title = "Class Detail";
    ViewBag.PageDescription = "Class Schedule";
    Layout = "~/Views/Shared/_SiteMasterLayout.cshtml";
}

@*<h2>Class Schedule</h2>*@
<p>Tuesday, Thursday 6:00pm - 9:00pm. Classes start on 05/20/2018 and end on 07/20/2018. </p>
