$black: #111; // assigning #111 to a variable called $black
$margin: 0 2rem 2rem;
$main-width: 30rem;
$main-margin: 0 auto;
$main-side-border: 0.05rem dashed #ff6a00;
$form-width: 90%;
$button-bgnd-color: #3D7FCF;
$full-width: 100%;
$body-bgd: rgb(255, 255, 150);
$header-font: lighter normal 5rem Quicksand, sans-serif;
$header-color: #83309f;
$h2-font: 900 normal 2rem Quicksand, sans-serif;
$header-footer-line: 0.06rem dashed blue;
$gap: 1rem;