@{
        ViewBag.Title = "Enrolled Classes";
        //ViewBag.Header = "Log in.";
        ViewBag.PageDescription = "Student Classes";
        Layout = "~/Views/Shared/_SiteMasterLayout.cshtml";
    }

    <h2>You have to log in to see the classed you are enrolled in.</h2>
